*{
    padding: 0;
    margin: 0;
    
}
.header1{
    height: 50px;
    background-color: pink;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    border: 2px solid whitesmoke;
    
}
.content{
    height: 550px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    display: flex;
}
.trai{
    width: 60%;
    height: 100%;  
    float: left;
    margin-bottom: 20px;
    margin-right: 20px;
}
.tren{
    width: 100%;
    height: 50%;
    background-color: rgb(82, 163, 82);
    margin-bottom: 20px;
    margin-right: 20px;
    border: 2px solid whitesmoke;
}
.duoi{
    width: 100%;
    height: 50%;
    display: flex;
    margin-right: 20px;
    
    
}
.cot1{
    width: 50%;
    height: 100%;
    float: left;
    margin-right: 20px;
    
}
.do{
    width: 100%;
    height: 35%;
    background-color: red;
    margin-bottom: 20px;
    border: 2px solid whitesmoke;
}
.cam{
    width: 100%;
    height: 46%;
    background-color:orange;
    margin-bottom: 20px;
    border: 2px solid whitesmoke;

}
.cot2{
    width: 50%;
    height: 90%;
    float: left;
    border: 2px solid whitesmoke;
    background-color:palevioletred;
    
}
.phai{
    width: 40%;
    height: 100%;
    float: left;
    
}
.d1{
    height: 20%;
    display: flex;
}
.d1_1{
    width: 80%;
    background-color: aqua;
    margin-right: 20px;
    border: 2px solid whitesmoke;
    
}
.d1_2{
    width: 20%;
    background-color:yellow;
    border: 2px solid whitesmoke;
    
}
.d2{
    height: 11%;
    background-color: blue;
    margin-top: 20px;
    border: 2px solid whitesmoke;
}
.d3{
    height: 50%;
    margin-bottom: 20px;
    margin-top: 10px;
    display: flex;
   
}
.row1{
    width: 32%;
    background-color: rgba(163, 111, 111, 0.541);
    margin-right: 20px;
    border: 2px solid whitesmoke;
}
.row2{
    width: 32%;
    background-color: rgba(229, 253, 14, 0.541);
    margin-right: 20px;
    border: 2px solid whitesmoke;
}
.row3{
    width: 32%;
    background-color: rgba(129, 8, 8, 0.541);
    border: 2px solid whitesmoke;
}
.d4{
    height: 9%;
    background-color:rgb(168, 133, 80);
    margin-bottom: 10px;
    border: 2px solid whitesmoke;
}
.footer{
    height: 50px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: black;
    border: 2px solid whitesmoke;
   
}